#pageHeader {
    text-align: center;
}

body {
    font-family: Arial;
}

#frame {
    width: 500px;
    height: 500px;
}

.clicked {
    stroke-width: 3px;
    stroke: blueviolet;
}

.hovered {
    fill: yellow
}

.invisible {
    visibility: collapse;
}