#pageHeader {
    text-align: center;
}

body {
    font-family: Arial;
}

/* Creating Columns with Flexbox */
.columnContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.right {
    width: 40%;
}

.left {
    width: 60%;
}

/* Setting Plot Structure */
#frame {
    width: 500px;
    height: 500px;
}

.axis {
    stroke-width: 5px;
}

/* Classes for Toggling Points */
.clicked {
    stroke-width: 3px;
    stroke: rgb(178, 123, 229);
}

.hovered {
    fill: yellow;
}

.invisible {
    visibility: collapse;
}

/* Formatting for Acknowledgements */
h3 {text-align: center;}
ul {text-align: center; list-style-position: inside; } 